input,
button {
    padding: 10px;
    width: -webkit-fill-available;
}
button[disabled] {
    opacity: 0.5;
}

button {
    cursor: pointer;
    margin-bottom: 10px;
}
button:active {
    opacity: 0.8;
}
.error {
    color: aliceblue;
    background-color: red;
    display: none;
}