body {
    background: rgb(66, 209, 66);
  
    height: 100vh;
}
body {
    background: rgb(66, 209, 66);
  
    height: 100vh;
}
input {
    border: none;
}

form {
    width: 300px;
    
}

.error {
    color: aliceblue;
    background-color: red;
    display: none;
}